# Testing & Cleaning - Scroll Down

In [ ]:
#!pip install --upgrade pandas_gbq

In [ ]:
#!pip install --upgrade google-cloud-bigquery

In [2]:
import pandas as pd
from google.oauth2 import service_account

In [3]:
credentials = service_account.Credentials.from_service_account_file("tranquil-bazaar-406621-a45e8df78970.json")

In [20]:
df = pd.DataFrame({'user_id': [1,2,3],
                'name': ['john', 'Jack', 'Melissa'],
                'created_at': ['2021-03-001', '2020-05-21', '2023-12-11']})
df

   user_id     name   created_at
0        1     john  2021-03-001
1        2     Jack   2020-05-21
2        3  Melissa   2023-12-11

In [12]:
table_schema=[{'name': 'user_id', 'type': 'STRING'},
             {'name': 'create_at', 'type': 'DATE'}]

In [13]:
df

   user_id     name   created_at
0        1     john  2021-03-001
1        2     Jack   2020-05-21
2        3  Melissa   2023-12-11

In [21]:
df.to_gbq(credentials=credentials, destination_table="test_1.user_registration_dates")

100%|██████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 1002.46it/s]

# Creating Dataware House using Python

# Creating a Dataset for Store

In [5]:
import pandas as pd
import random
import string

# List of Country IDs from the provided table
country_ids = [
    "CAM", "CIV", "GHA", "NIG", "SEN", "ETH", "KEN", "MOZ", "SAF", "TAN", 
    "EGY", "IRA", "LEB", "SAU", "UAE", "ALG", "MOR", "TUN", "BRA", "CAN", 
    "USA", "AUS", "NZL", "CHI", "IND", "INO", "JPN", "MAL", "PAK", "PHI", 
    "THA", "AUT", "BUL", "CZE", "HUN", "UKR", "SLO", "BEL", "FRA", "GER", 
    "ITA", "NET", "POL", "RUS", "SPA", "SWI", "UKG", "DOM", "JAM", "TRI", 
    "COL", "ECU", "PER", "VEN", "COS", "GUA", "HON", "MEX", "NIC", "PAN", 
    "ARG", "CHL", "PAR", "URU", "DEN", "FIN", "NOR", "SWE"
]

# Function to generate a random store name
def generate_store_name():
    name_part1 = ''.join(random.choices(string.ascii_uppercase, k=3))
    name_part2 = ''.join(random.choices(string.digits, k=2))
    return f"Store{name_part1}{name_part2}"

# Function to generate a random address
def generate_address():
    number = ''.join(random.choices(string.digits, k=3))
    street_name = ''.join(random.choices(string.ascii_uppercase, k=7))
    return f"{number} {street_name} Street"

# Generating 50 rows of data
data = []
for i in range(1, 1501):
    store_id = f"S{i:03d}"
    store_name = generate_store_name()
    address = generate_address()
    city = ''.join(random.choices(string.ascii_uppercase, k=5))
    country_id = random.choice(country_ids)
    data.append([store_id, store_name, address, city, country_id])

# Creating a DataFrame
df_stores = pd.DataFrame(data, columns=["Store_ID", "StoreName", "Address", "City", "CountryID"])

# Display the DataFrame
df_stores.head()  # Display only the first few rows to check the table format is correct

  Store_ID   StoreName             Address   City CountryID
0     S001  StoreSGT38  229 LAQCPMH Street  JROTS       BEL
1     S002  StoreZAS69  970 PZRGINE Street  NNFLH       IRA
2     S003  StoreVIM02  083 YEZLUUN Street  ZOVGK       NIG
3     S004  StoreVQT91  681 UQEDJCS Street  XKTFD       SAU
4     S005  StoreRUU93  298 MEBLKEU Street  UYHXT       MOR

In [7]:
import pandas as pd
from google.oauth2 import service_account

In [8]:
credentials = service_account.Credentials.from_service_account_file("tranquil-bazaar-406621-a45e8df78970.json")

In [10]:
df_stores.to_gbq(credentials=credentials, destination_table="Nestle_Sales_and_Purchase.Store")

100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

In [79]:
# Define the schema for the Store table
store_schema = [
    bigquery.SchemaField("Store_ID", "STRING", mode="REQUIRED"),  
    bigquery.SchemaField("StoreName", "STRING", mode="REQUIRED"),  
    bigquery.SchemaField("Address", "STRING", mode="REQUIRED"),  
    bigquery.SchemaField("City", "STRING", mode="REQUIRED"),  
    bigquery.SchemaField("CountryID", "STRING", mode="REQUIRED")  
]

# Destination table
table_id = "tranquil-bazaar-406621.Nestle_Sales_and_Purchase.Store"

In [78]:
# Define the schema for the Week_Data table
week_schema = [
    bigquery.SchemaField("Week_Key", "STRING", mode="REQUIRED"),  # Unique key for the week
    bigquery.SchemaField("Week_Name", "STRING", mode="REQUIRED")  # Full name of the week
]

# Destination table
table_id = "tranquil-bazaar-406621.Nestle_Sales_and_Purchase.Week"

# Read a dataset for Week

In [11]:
import pandas as pd

In [13]:
Week_df = pd.read_csv('Week_Data.csv')
Week_df

  Week_Key  Week_Name
0       MO     Monday
1       TU    Tuesday
2       WE  Wednesday
3       TH   Thursday
4       FR     Friday
5       SA   Saturday
6       SU     Sunday

In [17]:
Week_df.to_gbq(credentials=credentials, destination_table="Nestle_Sales_and_Purchase.Week")

100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

# Reading the Month Dataset

In [16]:
Month_df = pd.read_csv('Month_Date.csv')
Month_df

   Month_Key Month_Name
0         JA    January
1         FE   February
2         MA      March
3         AP      April
4         MY        May
5         JN       June
6         JL       July
7         AU     August
8         SE  September
9         OC    October
10        NO   November
11        DE   December

In [18]:
Month_df.to_gbq(credentials=credentials, destination_table="Nestle_Sales_and_Purchase.Month")

100%|██████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 1000.07it/s]

In [77]:
# Define the schema for the Month_Data table
month_schema = [
    bigquery.SchemaField("Month_Key", "STRING", mode="REQUIRED"),  # Unique key for the month
    bigquery.SchemaField("Month_Name", "STRING", mode="REQUIRED")  # Full name of the month
]

# Destination table
table_id = "tranquil-bazaar-406621.Nestle_Sales_and_Purchase.Month"

# Reading the Quater Dataset

In [20]:
Quater_df = pd.read_csv('Quarter_Data.csv')
Quater_df

   Quarter   Quater_Name     Months
0       Q1    Quater One    January
1       Q1    Quater One   February
2       Q1    Quater One      March
3       Q2    Quater Two      April
4       Q2    Quater Two        May
5       Q2    Quater Two       June
6       Q3  Quater Three       July
7       Q3  Quater Three     August
8       Q3  Quater Three  September
9       Q4   Quater Four    October
10      Q4   Quater Four   November
11      Q4   Quater Four   December

In [21]:
Quater_df.to_gbq(credentials=credentials, destination_table="Nestle_Sales_and_Purchase.Quater")

100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

In [76]:
# Define the schema for the Quarter_Data table
quarter_schema = [
    bigquery.SchemaField("Quarter", "STRING", mode="REQUIRED"),       # Identifier for the quarter
    bigquery.SchemaField("Quarter_Name", "STRING", mode="REQUIRED"),  # Descriptive name of the quarter
    bigquery.SchemaField("Months", "STRING", mode="REQUIRED")         # Months in the quarter
]

# Destination table
table_id = "tranquil-bazaar-406621.Nestle_Sales_and_Purchase.Quarter"

# Reading the Employee Dataset

In [22]:
Employee_df = pd.read_csv('Employee_Position_Dim.csv')
Employee_df

  Position_ID                 Position_Name
0        SA01               Sales Associate
1        SR02          Sales Representative
2        AM03               Account Manager
3        SM04                 Sales Manager
4        BM05  Business Development Manager
5        RM06        Regional Sales Manager
6        SD07                Sales Director
7        VP08       Vice President of Sales

In [23]:
Employee_df.to_gbq(credentials=credentials, destination_table="Nestle_Sales_and_Purchase.SalePerson")

100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

In [75]:
# Define the schema for the Employee_Position_Dim table
employee_schema = [
    bigquery.SchemaField("Position_ID", "STRING", mode="REQUIRED"),  # ID of the position
    bigquery.SchemaField("Position_Name", "STRING", mode="REQUIRED")  # Name of the position
]

# Destination table
table_id = "tranquil-bazaar-406621.Nestle_Sales_and_Purchase.SalePerson"

# Reading the Product Name Dataset

In [24]:
ProductName_df = pd.read_csv('ProductName.csv')
ProductName_df

,Product_Brand,Product_Category,Product_Name
0,Nescafé,Beverages,Instant coffee
1,Nescafé,Beverages,soluble coffee
2,Nescafé,Beverages,ready-to-drink coffee
3,Nespresso,Beverages,Single-serve espresso capsules and machines
4,Starbucks Coffee At Home,Beverages,Licensed coffee products
5,Milo,Beverages,Chocolate malt beverage
6,Nestea,Beverages,Ready-to-drink iced tea beverages
7,Carnation,Beverages,Evaporated milk
8,Carnation,Beverages,condensed milk
9,Carnation,Beverages,hot chocolate mix
10,Nesquik,Beverages,Chocolate milk flavoring syrup
11,Stouffer's,Beverages,Shelf-stable coffee beverages
12,Gerber Graduates,Beverages,Toddler beverages
13,Perrier,Beverages,Sparkling mineral water
14,S.Pellegrino,Beverages,Sparkling mineral water
15,Acqua Panna,Beverages,Still mineral water
16,Poland Spring,Beverages,Spring water
17,Pure Life,Beverages,Purified drinking water
18,Kit Kat,Food,Chocolate-covered wafer bars
19,Nesquik,Food,Chocolate powder for milk
20,Gerber,Food,Baby food
21,Gerber,Food,toddler food
22,Gerber,Food,infant formula
23,Maggi,Food,Culinary products
24,Maggi,Food,bouillon cubes
25,Maggi,Food,noodles
26,Maggi,Food,sauces
27,Toll House,Food,Chocolate chips
28,Toll House,Food,baking mixes
29,Toll House,Food,cookie dough
30,Häagen-Dazs,Food,Ice cream
31,Stouffer's,Food,Frozen meals
32,Hot Pockets,Food,Sandwiches
33,Lean Cuisine,Food,Low-calorie frozen meals
34,Jenny Craig,Food,Diet food products
35,Sweet Earth,Food,Plant-based meat alternatives
36,Muscle Milk,Food,Protein shakes
37,Garden of Eatin',Food,Healthy snacks
38,Garden of Eatin',Food,chips
39,Garden of Eatin',Food,dips
40,Purina,Pet Care,Dry and wet dog and cat food
41,Friskies,Pet Care,Dry and wet cat food
42,Fancy Feast,Pet Care,Wet cat food
43,Beneful,Pet Care,Dry and wet dog food
44,Pro Plan,Pet Care,Performance-based dog and cat food
45,Nutro,Pet Care,Natural dog and cat food
46,Blue Buffalo,Pet Care,Premium dog and cat food
47,Wellness,Pet Care,Natural dog and cat food
48,Meow Mix,Pet Care,Dry and wet cat food
49,Tidy Cats,Pet Care,Cat litter
50,Smarties,Confectionery,Candy-coated chocolate lentils
51,Butterfinger,Confectionery,Peanut butter candy bar
52,Baby Ruth,Confectionery,Chocolate-covered toffee and peanut bar
53,Crunch,Confectionery,Caramel and chocolate candy bar
54,Nestlé Crunch,Confectionery,Chocolate bar with rice puffs
55,Cailler,Confectionery,Swiss chocolate
56,York,Confectionery,Chocolate bar
57,Aero,Confectionery,Chocolate with bubbles
58,Rolo,Confectionery,Milk chocolate enrobed caramel
59,After Eight,Confectionery,Thin mint wafers

In [25]:
ProductName_df.to_gbq(credentials=credentials, destination_table="Nestle_Sales_and_Purchase.ProductName")

100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

In [74]:
# Define the schema for the ProductName table
product_name_schema = [
    bigquery.SchemaField("Product_Brand", "STRING", mode="NULLABLE"),  # Brand of the product
    bigquery.SchemaField("Product_Category", "STRING", mode="NULLABLE"),  # Category of the product
    bigquery.SchemaField("Product_Name", "STRING", mode="NULLABLE")  # Name of the product
]

# Destination table
table_id = "tranquil-bazaar-406621.Nestle_Sales_and_Purchase.ProductName"

# Reading Payment Dataset

In [27]:
Payment_df = pd.read_csv('PaymentDim.csv')
Payment_df

  PaymentTypeKey    Payment Type
0           PT01            Cash
1           PT02    Credit Cards
2           PT03     Debit Cards
3           PT04  Bank Transfers
4           PT05          Checks

In [28]:
Payment_df.to_gbq(credentials=credentials, destination_table="Nestle_Sales_and_Purchase.Payment")

100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

In [73]:
# Define the schema for the PaymentDim table
payment_schema = [
    bigquery.SchemaField("PaymentTypeKey", "STRING", mode="REQUIRED"),  
    bigquery.SchemaField("Payment_Type", "STRING", mode="NULLABLE")  
]

# Destination table
table_id = "tranquil-bazaar-406621.Nestle_Sales_and_Purchase.PaymentDim"

# Reading the country Dataset

In [ ]:
CountryDim

In [29]:
Country_df = pd.read_csv('CountryDim.csv')
Country_df

   Country_ID        Country               Region
0         CAM       Cameroon  Central-West Africa
1         CIV  Côte d'Ivoire  Central-West Africa
2         GHA          Ghana  Central-West Africa
3         NIG        Nigeria  Central-West Africa
4         SEN        Senegal  Central-West Africa
..        ...            ...                  ...
63        URU        Uruguay        Southern Cone
64        DEN        Denmark      Northern Europe
65        FIN        Finland      Northern Europe
66        NOR         Norway      Northern Europe
67        SWE         Sweden      Northern Europe

[68 rows x 3 columns]

In [30]:
Country_df.to_gbq(credentials=credentials, destination_table="Nestle_Sales_and_Purchase.Country")

100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

In [72]:
# Define the schema for the CountryDim table
country_schema = [
    bigquery.SchemaField("Country_ID", "STRING", mode="REQUIRED"),  
    bigquery.SchemaField("Country", "STRING", mode="NULLABLE"), 
    bigquery.SchemaField("Region", "STRING", mode="NULLABLE")  
]

# Destination table
table_id = "tranquil-bazaar-406621.Nestle_Sales_and_Purchase.Country"

# Creating Customer Dataset

In [56]:
ST_Store_df = pd.read_csv('ST_ Store.csv')
ST_Store_df

    Store_ID   StoreName             Address   City CountryID
0       S060  StoreTOA33  693 PIWZXOP Street  WLJVK       ALG
1       S198  StoreVCI99  094 JAGVPKS Street  LLFOH       ALG
2       S347  StoreXLG93  397 TZRVQKA Street  GSPBW       ALG
3       S361  StoreDFL12  296 JFFKTVK Street  WIHEQ       ALG
4       S417  StoreVYG33  563 LFSSODB Street  MHYVG       ALG
..       ...         ...                 ...    ...       ...
495     S669  StoreLCV76  825 ZJWKRQE Street  MMXWK       GER
496     S830  StoreXBO99  084 XVGSSVY Street  JJLNW       GER
497     S869  StoreRBW19  729 RLISIGI Street  PBTVD       GER
498     S949  StoreLVV84  339 WOEGWUA Street  ZONRQ       GER
499    S1064  StoreUSS26  576 PTBGXMV Street  JLNPF       GER

[500 rows x 5 columns]

In [36]:

# Lists of first and last names provided by you
first_names = [
    "James", "John", "Robert", "Michael", "Mary", "Jennifer", "Linda", "Oliver", "George", "Harry", 
    "Amelia", "Olivia", "Emily", "Wei", "Jie", "Li", "Ming", "Fang", "Yan", "Arjun", "Aarav", "Sai", 
    "Aanya", "Diya", "Isha", "Hiroto", "Ren", "Yuki", "Hina", "Yui", "Mei", "Maximilian", "Alexander", 
    "Emma", "Sophia", "Hannah", "Lucas", "Hugo", "Chloé", "Manon", "Francesco", "Alessandro", "Sofia", 
    "Aurora", "Giulia", "Mateo", "Martina", "Lucia", "Ivan", "Daria", "Jeamelee", "Samantha", "Phoena", 
    "Ayshama", "Karram", "Bridgette", "Paulette", "Tyrese", "Amelia", "João", "Gabriel", "Ana", "Beatriz", 
    "Chukwuma", "Adebayo", "Amina", "Chidinma", "Ifeoma", "José", "Carlos", "Guadalupe", "Mohamed", "Ahmed", 
    "Fatma", "Aya", "Sara", "Seo-Yun", "Ji-Woo", "Min-Jun", "Joon", "Hye-Jin", "Erik", "Karl", "Alice", 
    "Jakub", "Filip", "Zuzanna", "Julia", "Wiktoria", "Jack", "Noah", "Ava", "Charlotte", "Mia", "Emir", 
    "Berat", "Elif", "Zeynep", "Yağmur", "Kamau", "Mwangi", "Wanjiru", "Akinyi", "Njeri"
]

last_names = [
    "Smith", "Johnson", "Williams", "Brown", "Jones", "Taylor", "Wilson", "Wang", "Li", "Zhang", 
    "Liu", "Chen", "Sharma", "Gupta", "Kumar", "Singh", "Patel", "Sato", "Suzuki", "Takahashi", 
    "Tanaka", "Watanabe", "Müller", "Schmidt", "Schneider", "Fischer", "Weber", "Martin", "Bernard", 
    "Dubois", "Thomas", "Robert", "Rossi", "Russo", "Ferrari", "Esposito", "Bianchi", "García", 
    "Fernández", "González", "Rodríguez", "López", "Smirnov", "Ivanov", "Kuznetsov", "Popov", "Sokolov", 
    "Popescu", "Ionescu", "Dumitrescu", "Stanescu", "Stoica", "Yılmaz", "Kaya", "Demir", "Şahin", "Çelik", 
    "Papadopoulos", "Vlachos", "Georgiou", "Dimopoulos", "Nikolaou", "Kim", "Lee", "Park", "Choi", "Jung", 
    "Nguyen", "Tran", "Le", "Pham", "Hoang", "Campbell", "Clarke"
]



# Function to generate a random customer ID
def generate_customer_id(index):
    return f'C{index:04d}'

# Generate customer data and link with store data
customers_data = []
for i in range(1, 1501): 
    customer_id = generate_customer_id(i)
    customer_first_name = random.choice(first_names)
    customer_last_name = random.choice(last_names)
    
    # Randomly select a store from ST_Store_df
    selected_store = ST_Store_df.sample(n=1).iloc[0]
    store_id = selected_store['Store_ID']
    address = selected_store['Address']  
    city = selected_store['City']
    country_id = selected_store['CountryID']
    
    customers_data.append([customer_id, customer_first_name, customer_last_name, address, city, store_id, country_id])

# Creating the final DataFrame for customers
df_customers = pd.DataFrame(customers_data, columns=["Customer_Id", "CustomerFirstName", "CustomerLastName", "Address", "City", "Store_ID", "CountryID"])

# Display the first few rows of the DataFrame
print(df_customers.head())

  Customer_Id CustomerFirstName CustomerLastName             Address   City  \
0       C0001            Ifeoma          Vlachos  099 ZKBTHSM Street  TOYGF
1       C0002              Isha             Pham  280 TDIYDRV Street  MTWUC
2       C0003           Gabriel          Schmidt  267 RCBKDHU Street  ZGLJM
3       C0004          Samantha           Müller  136 SJQGFKB Street  BWCWO
4       C0005             Alice           Yılmaz  172 LEKYCSF Street  SNDPP

  Store_ID CountryID
0     S941       CZE
1    S1345       CHI
2     S720       CAN
3     S862       EGY
4     S192       BRA

In [37]:
df_customers.to_gbq(credentials=credentials, destination_table="Nestle_Sales_and_Purchase.Customer")

100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

In [71]:
# Define the schema for the Customer table
customer_schema = [
    bigquery.SchemaField("Customer_Id", "STRING", mode="REQUIRED"), 
    bigquery.SchemaField("CustomerFirstName", "STRING", mode="NULLABLE"),  
    bigquery.SchemaField("CustomerLastName", "STRING", mode="NULLABLE"),  
    bigquery.SchemaField("Address", "STRING", mode="NULLABLE"), 
    bigquery.SchemaField("City", "STRING", mode="NULLABLE"),  
    bigquery.SchemaField("Store_ID", "STRING", mode="NULLABLE"), 
    bigquery.SchemaField("CountryID", "STRING", mode="NULLABLE")  
]

# Destination table
table_id = "tranquil-bazaar-406621.Nestle_Sales_and_Purchase.Customer"

# Creating Date Dataset

In [7]:
import pandas as pd



# Define the date range
start_date = '2021-01-01'
end_date = '2022-12-31'

# Create a date range, excluding Sundays
dates = pd.date_range(start=start_date, end=end_date, freq='B')

# Create the DataFrame
data = {
    'DateID': dates.strftime('%Y%m%d'),  # Format as 'YYYYMMDD'
    'Year': dates.year,
    'QuarterID': dates.to_period('Q').astype(str).str.replace('Q', ''),  
    'MonthID': dates.month,  # Will be mapped to MonthID
    'WeekID': dates.isocalendar().week  # Will be mapped to WeekID
}
date_df = pd.DataFrame(data)



date_df.head()

              DateID  Year QuarterID  MonthID  WeekID
2021-01-01  20210101  2021     20211        1      53
2021-01-04  20210104  2021     20211        1       1
2021-01-05  20210105  2021     20211        1       1
2021-01-06  20210106  2021     20211        1       1
2021-01-07  20210107  2021     20211        1       1

In [8]:
date_df.dtypes

DateID       object
Year          int64
QuarterID    object
MonthID       int64
WeekID       UInt32
dtype: object

In [11]:
# I only need pandas for this section
import pandas as pd

# Convert columns to the appropriate data types
date_df['DateID'] = pd.to_datetime(date_df['DateID']).dt.date.astype(str)  # Convert to string if it is a date
date_df['Year'] = date_df['Year'].astype(str)  # Convert to string
date_df['QuarterID'] = date_df['QuarterID'].astype(str)  # Convert to string
date_df['MonthID'] = date_df['MonthID'].astype(str)  # Convert to string
date_df['WeekID'] = date_df['WeekID'].astype(str)  # Convert to string


print(date_df.dtypes)

DateID       object
Year         object
QuarterID    object
MonthID      object
WeekID       object
dtype: object

In [13]:
date_df.to_gbq(credentials=credentials, destination_table="Nestle_Sales_and_Purchase.Date")

100%|██████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 1000.31it/s]

# Creating Product

In [1]:
import pandas as pd
import random

# Load the product data from CSV
product_df = pd.read_csv('ProductName.csv')

# Define a function to generate a random price
def generate_random_price(min_price, max_price):
    return round(random.uniform(min_price, max_price), 2)


product_df['Product_Price_US'] = product_df.apply(lambda row: generate_random_price(10.99, 99.99), axis=1)

# Display the DataFrame to verify
print(product_df)

               Product_Brand Product_Category  \
0                    Nescafé        Beverages
1                    Nescafé        Beverages
2                    Nescafé        Beverages
3                  Nespresso        Beverages
4   Starbucks Coffee At Home        Beverages
5                       Milo        Beverages
6                     Nestea        Beverages
7                  Carnation        Beverages
8                  Carnation        Beverages
9                  Carnation        Beverages
10                   Nesquik        Beverages
11                Stouffer's        Beverages
12          Gerber Graduates        Beverages
13                   Perrier        Beverages
14              S.Pellegrino        Beverages
15               Acqua Panna        Beverages
16             Poland Spring        Beverages
17                 Pure Life        Beverages
18                   Kit Kat             Food
19                   Nesquik             Food
20                    Gerber             Food
21                    Gerber             Food
22                    Gerber             Food
23                     Maggi             Food
24                     Maggi             Food
25                     Maggi             Food
26                     Maggi             Food
27                Toll House             Food
28                Toll House             Food
29                Toll House             Food
30               Häagen-Dazs             Food
31                Stouffer's             Food
32               Hot Pockets             Food
33              Lean Cuisine             Food
34               Jenny Craig             Food
35               Sweet Earth             Food
36               Muscle Milk             Food
37          Garden of Eatin'             Food
38          Garden of Eatin'             Food
39          Garden of Eatin'             Food
40                    Purina         Pet Care
41                  Friskies         Pet Care
42               Fancy Feast         Pet Care
43                   Beneful         Pet Care
44                  Pro Plan         Pet Care
45                     Nutro         Pet Care
46              Blue Buffalo         Pet Care
47                  Wellness         Pet Care
48                  Meow Mix         Pet Care
49                 Tidy Cats         Pet Care
50                  Smarties    Confectionery
51              Butterfinger    Confectionery
52                 Baby Ruth    Confectionery
53                    Crunch    Confectionery
54             Nestlé Crunch    Confectionery
55                   Cailler    Confectionery
56                      York    Confectionery
57                      Aero    Confectionery
58                      Rolo    Confectionery
59               After Eight    Confectionery

                                   Product_Name  Product_Price_US
0                                Instant coffee             36.71
1                                soluble coffee             62.16
2                         ready-to-drink coffee             52.85
3   Single-serve espresso capsules and machines             46.70
4                      Licensed coffee products             18.30
5                       Chocolate malt beverage             57.20
6             Ready-to-drink iced tea beverages             15.55
7                               Evaporated milk             39.26
8                                condensed milk             97.09
9                             hot chocolate mix             28.96
10               Chocolate milk flavoring syrup             74.23
11                Shelf-stable coffee beverages             59.36
12                            Toddler beverages             12.25
13                      Sparkling mineral water             16.69
14                      Sparkling mineral water             89.90
15                          Still mineral water             14.75
16                                 Spring water             84.45
17                      Purified drinking water             57.44
18                 Chocolate-covered wafer bars             16.40
19                    Chocolate powder for milk             54.48
20                                    Baby food             39.75
21                                 toddler food             13.21
22                               infant formula             58.08
23                            Culinary products             62.89
24                               bouillon cubes             67.65
25                                      noodles             25.63
26                                       sauces             25.57
27                              Chocolate chips             45.96
28                                 baking mixes             77.29
29                                 cookie dough             26.57
30                                    Ice cream             87.14
31                                 Frozen meals             91.39
32                                   Sandwiches             95.26
33                     Low-calorie frozen meals             64.63
34                           Diet food products             37.38
35                Plant-based meat alternatives             84.51
36                               Protein shakes             84.36
37                               Healthy snacks             50.11
38                                        chips             68.13
39                                         dips             74.39
40                 Dry and wet dog and cat food             46.40
41                         Dry and wet cat food             63.89
42                                 Wet cat food             47.04
43                         Dry and wet dog food             43.35
44           Performance-based dog and cat food             90.87
45                     Natural dog and cat food             73.45
46                     Premium dog and cat food             47.85
47                     Natural dog and cat food             63.92
48                         Dry and wet cat food             33.50
49                                   Cat litter             15.45
50               Candy-coated chocolate lentils             34.91
51                      Peanut butter candy bar             28.99
52      Chocolate-covered toffee and peanut bar             37.26
53              Caramel and chocolate candy bar             37.22
54                Chocolate bar with rice puffs             49.12
55                              Swiss chocolate             46.83
56                                Chocolate bar             47.92
57                       Chocolate with bubbles             23.84
58               Milk chocolate enrobed caramel             19.26
59                             Thin mint wafers             93.99

In [34]:
#libaries for this section

import pandas as pd
import random

# Load the product data from CSV
product_df = pd.read_csv('ProductName.csv')

# Define a function to generate a random price
def generate_random_price(min_price, max_price):
    return round(random.uniform(min_price, max_price), 2)

# Apply the function to each row in the DataFrame to create a new 'Product_Price_US' column
product_df['Product_Price_US'] = product_df.apply(lambda row: generate_random_price(10.99, 99.99), axis=1)

# Create a unique key for each product using a combination of a prefix and the index
product_df['Product_Key'] = 'Prod' + (product_df.index + 1).astype(str).str.zfill(5)

# Display the DataFrame to verify
print(product_df.head())

              Product_Brand Product_Category  \
0                   Nescafé        Beverages
1                   Nescafé        Beverages
2                   Nescafé        Beverages
3                 Nespresso        Beverages
4  Starbucks Coffee At Home        Beverages

                                  Product_Name  Product_Price_US Product_Key
0                               Instant coffee             86.38   Prod00001
1                               soluble coffee             55.10   Prod00002
2                        ready-to-drink coffee             37.20   Prod00003
3  Single-serve espresso capsules and machines             97.23   Prod00004
4                     Licensed coffee products             41.29   Prod00005

In [39]:
#adding schema

product_df['Product_Key'] = (product_df['Product_Brand'].astype('category').cat.codes.astype(str) 
                             + product_df['Product_Category'].astype('category').cat.codes.astype(str)
                             + product_df['Product_Name'].astype('category').cat.codes.astype(str))

In [41]:
product_df.to_gbq(credentials=credentials, destination_table="Nestle_Sales_and_Purchase.Product")

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 999.60it/s]

# Creating Sale Transaction

In [44]:
#To remember which libary work for this section
import pandas as pd
import numpy as np
import random
from google.oauth2 import service_account

# Your credentials file
credentials = service_account.Credentials.from_service_account_file("tranquil-bazaar-406621-a45e8df78970.json")


products_df = pd.read_csv('ProductName.csv')  y
customers_df = pd.read_csv('Customer.csv')  
dates_df = pd.read_csv('Date.csv')  
stores_df = pd.read_csv('Store.csv')  
salespeople_df = pd.read_csv('Employee_Position_Dim.csv')  
payment_methods_df = pd.read_csv('PaymentDim.csv')

In [45]:
# Function to generate a transaction number
def generate_transaction_number(n):
    return ['TXN' + str(i).zfill(8) for i in range(1, n + 1)]

# Generate the sale quantity and prices
def generate_sales_data(n):
    sale_quantity = np.random.randint(1, 10, size=n)
    regular_unit_price = np.round(np.random.uniform(5.99, 199.99, size=n), 2)
    # 25% of the transactions discounted
    discounts = np.random.choice([0, 0.1, 0.15, 0.2, 0.25], size=n, p=[0.75, 0.05, 0.05, 0.05, 0.1])
    discount_unit_price = np.round(regular_unit_price * discounts, 2)
    net_unit_price = regular_unit_price - discount_unit_price
    return sale_quantity, regular_unit_price, discount_unit_price, net_unit_price

num_records = 4000  # The number of sales transactions to generate

# Generate transaction numbers
transaction_numbers = generate_transaction_number(num_records)

In [48]:
# Generate sale quantities and prices
sale_quantity, regular_unit_price, discount_unit_price, net_unit_price = generate_sales_data(num_records)

In [64]:
# Generate sale quantities and prices
sale_quantity, regular_unit_price, discount_unit_price, net_unit_price = generate_sales_data(num_records)

# Sample foreign key values from each DataFrame
product_fk = product_df['Product_Key'].sample(n=num_records, replace=True).values
customer_fk = customers_df['Customer_Id'].sample(n=num_records, replace=True).values
date_fk = date_df['DateID'].sample(n=num_records, replace=True).values
store_fk = stores_df['Store_ID'].sample(n=num_records, replace=True).values
salesperson_fk = salespeople_df['Position_ID'].sample(n=num_records, replace=True).values
payment_method_fk = payment_methods_df['PaymentTypeKey'].sample(n=num_records, replace=True).values

In [65]:
# Create the sales transactions DataFrame
sales_transactions_df = pd.DataFrame({
    'Product_FK': product_fk,
    'Customer_FK': customer_fk,
    'Date_FK': date_fk,
    'Store_FK': store_fk,
    'SalesPerson_FK': salesperson_fk,
    'PaymentMethod_FK': payment_method_fk,
    'TransactionNumber': transaction_numbers,
    'Sale_Quantity': sale_quantity,
    'Regular_Unit_Price': regular_unit_price,
    'Discount_Unit_Price': discount_unit_price,
    'Net_Unit_Price': net_unit_price
})

# Convert the foreign keys to strings 
sales_transactions_df['Product_FK'] = sales_transactions_df['Product_FK'].astype(str)
sales_transactions_df['Customer_FK'] = sales_transactions_df['Customer_FK'].astype(str)
sales_transactions_df['Date_FK'] = sales_transactions_df['Date_FK'].astype(str)
sales_transactions_df['Store_FK'] = sales_transactions_df['Store_FK'].astype(str)
sales_transactions_df['SalesPerson_FK'] = sales_transactions_df['SalesPerson_FK'].astype(str)
sales_transactions_df['PaymentMethod_FK'] = sales_transactions_df['PaymentMethod_FK'].astype(str)



sales_transactions_df

,Product_FK,Customer_FK,Date_FK,Store_FK,SalesPerson_FK,PaymentMethod_FK,TransactionNumber,Sale_Quantity,Regular_Unit_Price,Discount_Unit_Price,Net_Unit_Price
0,20252,C0952,2021-09-06,S1245,VP08,PT05,TXN00000001,2,69.65,0.00,69.65
1,4414,C0954,2022-05-20,S574,SD07,PT05,TXN00000002,8,6.27,0.00,6.27
2,3711,C0563,2022-10-03,S418,AM03,PT03,TXN00000003,3,18.26,0.00,18.26
3,7140,C0550,2022-11-23,S1450,SR02,PT05,TXN00000004,7,81.71,0.00,81.71
4,2207,C1481,2022-12-27,S675,SR02,PT03,TXN00000005,2,76.67,0.00,76.67
...,...,...,...,...,...,...,...,...,...,...,...
3995,3711,C0309,2021-07-19,S171,BM05,PT01,TXN00003996,7,41.40,0.00,41.40
3996,8018,C0696,2021-02-08,S281,VP08,PT05,TXN00003997,5,68.65,6.87,61.78
3997,8018,C1451,2022-03-11,S834,AM03,PT01,TXN00003998,8,13.82,0.00,13.82
3998,30037,C1464,2021-08-02,S718,VP08,PT05,TXN00003999,9,86.50,0.00,86.50
3999,24055,C0123,2021-09-27,S468,SD07,PT05,TXN00004000,1,50.85,0.00,50.85

In [67]:
sales_transactions_df.to_gbq(credentials=credentials, destination_table="Nestle_Sales_and_Purchase.Sale")

100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

In [69]:
from google.cloud import bigquery

# Define the schema
schema = [
    bigquery.SchemaField("TransactionNumber", "STRING", mode="REQUIRED"),
    bigquery.SchemaField("Product_FK", "STRING"),
    bigquery.SchemaField("Customer_FK", "STRING"),
    bigquery.SchemaField("Date_FK", "STRING"),
    bigquery.SchemaField("Store_FK", "STRING"),
    bigquery.SchemaField("SalesPerson_FK", "STRING"),
    bigquery.SchemaField("PaymentMethod_FK", "STRING"),
    bigquery.SchemaField("Sale_Quantity", "INTEGER"),
    bigquery.SchemaField("Regular_Unit_Price", "FLOAT"),
    bigquery.SchemaField("Discount_Unit_Price", "FLOAT"),
    bigquery.SchemaField("Net_Unit_Price", "FLOAT")
]

# Destination table
table_id = "tranquil-bazaar-406621.Nestle_Sales_and_Purchase.Sale"

In [70]:
from google.cloud import bigquery

# Initialize a client
client = bigquery.Client(credentials=credentials, project="tranquil-bazaar-406621")

# Get the table reference
table_ref = client.dataset("Nestle_Sales_and_Purchase").table("Sale")

# Fetch the table
table = client.get_table(table_ref)

# Print the schema
for schema_field in table.schema:
    print(schema_field)

SchemaField('Product_FK', 'STRING', 'NULLABLE', None, None, (), None)
SchemaField('Customer_FK', 'STRING', 'NULLABLE', None, None, (), None)
SchemaField('Date_FK', 'STRING', 'NULLABLE', None, None, (), None)
SchemaField('Store_FK', 'STRING', 'NULLABLE', None, None, (), None)
SchemaField('SalesPerson_FK', 'STRING', 'NULLABLE', None, None, (), None)
SchemaField('PaymentMethod_FK', 'STRING', 'NULLABLE', None, None, (), None)
SchemaField('TransactionNumber', 'STRING', 'NULLABLE', None, None, (), None)
SchemaField('Sale_Quantity', 'INTEGER', 'NULLABLE', None, None, (), None)
SchemaField('Regular_Unit_Price', 'FLOAT', 'NULLABLE', None, None, (), None)
SchemaField('Discount_Unit_Price', 'FLOAT', 'NULLABLE', None, None, (), None)
SchemaField('Net_Unit_Price', 'FLOAT', 'NULLABLE', None, None, (), None)